<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="District" value="
q1;Quận 1
q.1;Quận 1
q. 1;Quận 1
q. 01;Quận 1
Quận 01;Quận 1
q01;Quận 1
q 1;Quận 1
q2;Quận 2
q.2;Quận 2
q. 2;Quận 2
q. 02;Quận 2
Quận 02;Quận 2
q02;Quận 2
q 2;Quận 2
q3;Quận 3
q.3;Quận 3
q. 3;Quận 3
q. 03;Quận 3
Quận 03;Quận 3
q03;Quận 3
q 3;Quận 3
q4;Quận 4
q.4;Quận 4
q. 4;Quận 4
q. 04;Quận 4
Quận 04;Quận 4
q04;Quận 4
q 4;Quận 4
q5;Quận 5
q.5;Quận 5
q. 5;Quận 5
q. 05;Quận 5
Quận 05;Quận 5
q05;Quận 5
q 5;Quận 5
q6;Quận 6
q.6;Quận 6
q. 6;Quận 6
q. 06;Quận 6
Quận 06;Quận 6
q06;Quận 6
q 6;Quận 6
q7;Quận 7
q.7;Quận 7
q. 7;Quận 7
q. 07;Quận 7
Quận 07;Quận 7
q07;Quận 7
q 7;Quận 7
q8;Quận 8
q.8;Quận 8
q. 8;Quận 8
q. 08;Quận 8
Quận 08;Quận 8
q08;Quận 8
q 8;Quận 8
q9;Quận 9
q.9;Quận 9
q. 9;Quận 9
q. 09;Quận 9
Quận 09;Quận 9
q09;Quận 9
q 9;Quận 9
q10;Quận 10
q.10;Quận 10
q. 10;Quận 10
q 10;Quận 10
q11;Quận 11
q.11;Quận 11
q. 11;Quận 11
q 11;Quận 11
q12;Quận 12
q.12;Quận 12
q. 12;Quận 12
q 12;Quận 12
QBT;Quận Bình Thạnh
Q.BT;Quận Bình Thạnh
QTB;Quận Tân Bình
Q.TB;Quận Tân Bình
QPN;Quận Phú Nhuận
Q.PN;Quận Phú Nhuận
QGV;Quận Gò Vấp
Q.GV;Quận Gò Vấp
QTP;Quận Tân Phú
Q.TP;Quận Tân Phú
QTĐ;Quận Thủ Đức
Q.TĐ;Quận Thủ Đức
Bình Tân;Quận Bình Tân
Bình Thạnh;Quận Bình Thạnh
Gò Vấp;Quận Gò Vấp
Phú Nhuận;Quận Phú Nhuận
Tân Bình;Quận Tân Bình
Tân Phú;Quận Tân Phú
Thủ Đức;Quận Thủ Đức
Bình Chánh;Huyện Bình Chánh
Cần Giờ;Huyện Cần Giờ
Củ Chi;Huyện Củ Chi
Hóc Môn;Huyện Hóc Môn
Nhà Bè;Huyện Nhà Bè
Quận 1;Quận 1
Quận 2;Quận 2
Quận 3;Quận 3
Quận 4;Quận 4
Quận 5;Quận 5
Quận 6;Quận 6
Quận 7;Quận 7
Quận 8;Quận 8
Quận 9;Quận 9
Quận 10;Quận 10
Quận 11;Quận 11
Quận 12;Quận 12
         " />
<add key="Ward" value="
p.1;Phường 1
p. 1;Phường 1
p1;Phường 1
f1;Phường 1
f.1;Phường 1
p 1;Phường 1
p.2;Phường 2
p. 2;Phường 2
p2;Phường 2
f2;Phường 2
f.2;Phường 2
p 2;Phường 2
p.3;Phường 3
p. 3;Phường 3
p3;Phường 3
f3;Phường 3
f.3;Phường 3
p 3;Phường 3
p.4;Phường 4
p. 4;Phường 4
p4;Phường 4
f4;Phường 4
f.4;Phường 4
p 4;Phường 4
p.5;Phường 5
p. 5;Phường 5
p5;Phường 5
f5;Phường 5
f.5;Phường 5
p 5;Phường 5
p.6;Phường 6
p. 6;Phường 6
p6;Phường 6
f6;Phường 6
f.6;Phường 6
p 6;Phường 6
p.7;Phường 7
p. 7;Phường 7
p7;Phường 7
f7;Phường 7
f.7;Phường 7
p 7;Phường 7
p.8;Phường 8
p. 8;Phường 8
p8;Phường 8
f8;Phường 8
f.8;Phường 8
p 8;Phường 8
p.9;Phường 9
p. 9;Phường 9
p9;Phường 9
f9;Phường 9
f.9;Phường 9
p 9;Phường 9
p.10;Phường 10
p. 10;Phường 10
p10;Phường 10
f10;Phường 10
f.10;Phường 10
p 10;Phường 10
p.11;Phường 11
p. 11;Phường 11
p11;Phường 11
f11;Phường 11
f.11;Phường 11
p 11;Phường 11
p.12;Phường 12
p. 12;Phường 12
p12;Phường 12
f12;Phường 12
f.12;Phường 12
p 12;Phường 12
p.13;Phường 13
p. 13;Phường 13
p13;Phường 13
f13;Phường 13
f.13;Phường 13
p 13;Phường 13
p.14;Phường 14
p. 14;Phường 14
p14;Phường 14
f14;Phường 14
f.14;Phường 14
p 14;Phường 14
p.15;Phường 15
p. 15;Phường 15
p15;Phường 15
f15;Phường 15
f.15;Phường 15
p 15;Phường 15
p.16;Phường 16
p. 16;Phường 16
p16;Phường 16
f16;Phường 16
f.16;Phường 16
p 16;Phường 16
p.17;Phường 17
p. 17;Phường 17
p17;Phường 17
f17;Phường 17
f.17;Phường 17
p 17;Phường 17
p.18;Phường 18
p. 18;Phường 18
p18;Phường 18
f18;Phường 18
f.18;Phường 18
p 18;Phường 18
p.19;Phường 19
p19;Phường 19
p. 19;Phường 19
f19;Phường 19
f.19;Phường 19
p 19;Phường 19
p.20;Phường 20
p. 20;Phường 20
p20;Phường 20
f20;Phường 20
f.20;Phường 20
p 20;Phường 20
p.21;Phường 21
p. 21;Phường 21
p21;Phường 21
f21;Phường 21
f.21;Phường 21
p 21;Phường 21
p.22;Phường 22
p. 22;Phường 22
p22;Phường 22
f22;Phường 22
f.22;Phường 22
p 22;Phường 22
p.23;Phường 23
p. 23;Phường 23
p23;Phường 23
f23;Phường 23
f.23;Phường 23
p 23;Phường 23
p.24;Phường 24
p. 24;Phường 24
p24;Phường 24
f24;Phường 24
f.24;Phường 24
p 24;Phường 24
p.25;Phường 25
p. 25;Phường 25
p25;Phường 25
f25;Phường 25
f.25;Phường 25
p 25;Phường 25
p.26;Phường 26
p. 26;Phường 26
p26;Phường 26
f26;Phường 26
f.26;Phường 26
p 26;Phường 26
p.27;Phường 27
p. 27;Phường 27
p27;Phường 27
f27;Phường 27
f.27;Phường 27
p 27;Phường 27
p.28;Phường 28
p. 28;Phường 28
p28;Phường 28
f28;Phường 28
f.28;Phường 28
p 28;Phường 28
Phường 01;Phường 1
Phường 02;Phường 2
Phường 03;Phường 3
Phường 04;Phường 4
Phường 05;Phường 5
Phường 06;Phường 6
Phường 07;Phường 7
Phường 08;Phường 8
Phường 09;Phường 9
Phường 1;Phường 1
Phường 2;Phường 2
Phường 3;Phường 3
Phường 4;Phường 4
Phường 5;Phường 5
Phường 6;Phường 6
Phường 7;Phường 7
Phường 8;Phường 8
Phường 9;Phường 9
Phường 10;Phường 10
Phường 11;Phường 11
Phường 12;Phường 12
Phường 13;Phường 13
Phường 14;Phường 14
Phường 15;Phường 15
Phường 16;Phường 16
Phường 17;Phường 17
Phường 18;Phường 18
Phường 19;Phường 19
Phường 21;Phường 21
Phường 22;Phường 22
Phường 24;Phường 24
Phường 25;Phường 25
Phường 26;Phường 26
Phường 27;Phường 27
Phường 28;Phường 28
Bến Nghé;Phường Bến Nghé
Bến Thành;Phường Bến Thành
Cầu Kho;Phường Cầu Kho
Cầu Ông Lãnh;Phường Cầu Ông Lãnh
Cô Giang;Phường Cô Giang
Đa Kao;Phường Đa Kao
Nguyễn Cư Trinh;Phường Nguyễn Cư Trinh
Nguyễn Thái Bình;Phường Nguyễn Thái Bình
Phạm Ngũ Lão;Phường Phạm Ngũ Lão
Tân Định;Phường Tân Định
An Khánh;Phường An Khánh
An Lợi Đông;Phường An Lợi Đông
Bình An;Phường Bình An
Bình Trưng Đông;Phường Bình Trưng Đông
Bình Trưng Tây;Phường Bình Trưng Tây
Cát Lái;Phường Cát Lái
Thạnh Mỹ Lợi;Phường Thạnh Mỹ Lợi
Thảo Điền;Phường Thảo Điền
Thủ Thiêm;Phường Thủ Thiêm
Bình Thuận;Phường Bình Thuận
Phú Mỹ;Phường Phú Mỹ
Phú Thuận;Phường Phú Thuận
Tân Hưng;Phường Tân Hưng
Tân Kiểng;Phường Tân Kiểng
Tân Phong;Phường Tân Phong
Tân Phú;Phường Tân Phú
Tân Quy;Phường Tân Quy
Tân Thuận Đông;Phường Tân Thuận Đông
Tân Thuận Tây;Phường Tân Thuận Tây
Hiệp Phú;Phường Hiệp Phú
Long Bình;Phường Long Bình
Long Phước;Phường Long Phước
Long Thạnh Mỹ;Phường Long Thạnh Mỹ
Long Trường;Phường Long Trường
Phú Hữu;Phường Phú Hữu
Phước Bình;Phường Phước Bình
Phước Long A;Phường Phước Long A
Phước Long B;Phường Phước Long B
Tăng Nhơn Phú A;Phường Tăng Nhơn Phú A
Tăng Nhơn Phú B;Phường Tăng Nhơn Phú B
Trường Thạnh;Phường Trường Thạnh
An Phú Đông;Phường An Phú Đông
Đông Hưng Thuận;Phường Đông Hưng Thuận
Hiệp Thành;Phường Hiệp Thành
Tân Chánh Hiệp;Phường Tân Chánh Hiệp
Tân Hưng Thuận;Phường Tân Hưng Thuận
Tân Thới Hiệp;Phường Tân Thới Hiệp
Tân Thới Nhất;Phường Tân Thới Nhất
Thạnh Lộc;Phường Thạnh Lộc
Thạnh Xuân;Phường Thạnh Xuân
Thới An;Phường Thới An
Trung Mỹ Tây;Phường Trung Mỹ Tây
An Lạc;Phường An Lạc
An Lạc A;Phường An Lạc A
Bình Hưng Hòa;Phường Bình Hưng Hòa
Bình Hưng Hoà A;Phường Bình Hưng Hoà A
Bình Hưng Hoà B;Phường Bình Hưng Hoà B
Bình Trị Đông;Phường Bình Trị Đông
Bình Trị Đông A;Phường Bình Trị Đông A
Bình Trị Đông B;Phường Bình Trị Đông B
Tân Tạo;Phường Tân Tạo
Tân Tạo A;Phường Tân Tạo A
Hiệp Tân;Phường Hiệp Tân
Hoà Thạnh;Phường Hoà Thạnh
Phú Thạnh;Phường Phú Thạnh
Phú Thọ Hoà;Phường Phú Thọ Hoà
Phú Trung;Phường Phú Trung
Sơn Kỳ;Phường Sơn Kỳ
Tân Qúy;Phường Tân Qúy
Tân Sơn Nhì;Phường Tân Sơn Nhì
Tân Thành;Phường Tân Thành
Tân Thới Hoà;Phường Tân Thới Hoà
Tây Thạnh;Phường Tây Thạnh
Bình Chiểu;Phường Bình Chiểu
Bình Thọ;Phường Bình Thọ
Hiệp Bình Chánh;Phường Hiệp Bình Chánh
Hiệp Bình Phước;Phường Hiệp Bình Phước
Linh Chiểu;Phường Linh Chiểu
Linh Đông;Phường Linh Đông
Linh Tây;Phường Linh Tây
Linh Trung;Phường Linh Trung
Linh Xuân;Phường Linh Xuân
Tam Bình;Phường Tam Bình
Tam Phú;Phường Tam Phú
Trường Thọ;Phường Trường Thọ
Tân Túc;Thị trấn Tân Túc
An Phú Tây;Xã An Phú Tây
Bình Chánh;Xã Bình Chánh
Bình Hưng;Xã Bình Hưng
Bình Lợi;Xã Bình Lợi
Đa Phước;Xã Đa Phước
Hưng Long;Xã Hưng Long
Lê Minh Xuân;Xã Lê Minh Xuân
Phạm Văn Hai;Xã Phạm Văn Hai
Phong Phú;Xã Phong Phú
Quy Đức;Xã Quy Đức
Tân Kiên;Xã Tân Kiên
Tân Nhựt;Xã Tân Nhựt
Tân Quý Tây;Xã Tân Quý Tây
Vĩnh Lộc A;Xã Vĩnh Lộc A
Vĩnh Lộc B;Xã Vĩnh Lộc B
Cần Thạnh;Thị trấn Cần Thạnh
An Thới Đông;Xã An Thới Đông
Long Hòa;Xã Long Hòa
Lý Nhơn;Xã Lý Nhơn
Tam Thôn Hiệp;Xã Tam Thôn Hiệp
Thạnh An;Xã Thạnh An
Củ Chi;Thị trấn Củ Chi
An Nhơn Tây;Xã An Nhơn Tây
Bình Mỹ;Xã Bình Mỹ
Hòa Phú;Xã Hòa Phú
Nhuận Đức;Xã Nhuận Đức
Phạm Văn Cội;Xã Phạm Văn Cội
Phú Hòa Đông;Xã Phú Hòa Đông
Phú Mỹ Hưng;Xã Phú Mỹ Hưng
Phước Hiệp;Xã Phước Hiệp
Phước Thạnh;Xã Phước Thạnh
Phước Vĩnh An;Xã Phước Vĩnh An
Tân An Hội;Xã Tân An Hội
Tân Phú Trung;Xã Tân Phú Trung
Tân Thạnh Đông;Xã Tân Thạnh Đông
Tân Thạnh Tây;Xã Tân Thạnh Tây
Tân Thông Hội;Xã Tân Thông Hội
Thái Mỹ;Xã Thái Mỹ
Trung An;Xã Trung An
Trung Lập Hạ;Xã Trung Lập Hạ
Trung Lập Thượng;Xã Trung Lập Thượng
Hóc Môn;Thị trấn Hóc Môn
Bà Điểm;Xã Bà Điểm
Đông Thạnh;Xã Đông Thạnh
Nhị Bình;Xã Nhị Bình
Tân Hiệp;Xã Tân Hiệp
Tân Thới Nhì;Xã Tân Thới Nhì
Tân Xuân;Xã Tân Xuân
Thới Tam Thôn;Xã Thới Tam Thôn
Trung Chánh;Xã Trung Chánh
Xuân Thới Đông;Xã Xuân Thới Đông
Xuân Thới Sơn;Xã Xuân Thới Sơn
Xuân Thới Thượng;Xã Xuân Thới Thượng
Nhà Bè;Thị trấn Nhà Bè
Hiệp Phước;Xã Hiệp Phước
Long Thới;Xã Long Thới
Nhơn Đức;Xã Nhơn Đức
Phú Xuân;Xã Phú Xuân
Phước Kiển;Xã Phước Kiển
Phước Lộc;Xã Phước Lộc
P.An Phú;Phường An Phú
X.An Phú;Xã An Phú
P An Phú;Phường An Phú
X An Phú;Xã An Phú
P.Bình Khánh;Phường Bình Khánh
X.Bình Khánh;Xã Bình Khánh
P Bình Khánh;Phường Bình Khánh
X Bình Khánh;Xã Bình Khánh
ĐaKao;Phường Đa Kao
         " />
    
    <add key="DistrictWard" value="1;Quận 1;Phường Bến Nghé
                        2;Quận 1;Phường Bến Thành
                        3;Quận 1;Phường Cầu Kho
                        4;Quận 1;Phường Cầu Ông Lãnh
                        5;Quận 1;Phường Cô Giang
                        6;Quận 1;Phường Đa Kao
                        7;Quận 1;Phường Nguyễn Cư Trinh
                        8;Quận 1;Phường Nguyễn Thái Bình
                        9;Quận 1;Phường Phạm Ngũ Lão
                        10;Quận 1;Phường Tân Định
                        11;Quận 2;Phường An Khánh
                        12;Quận 2;Phường An Lợi Đông
                        13;Quận 2;Phường An Phú
                        14;Quận 2;Phường Bình An
                        15;Quận 2;Phường Bình Khánh
                        16;Quận 2;Phường Bình Trưng Đông
                        17;Quận 2;Phường Bình Trưng Tây
                        18;Quận 2;Phường Cát Lái
                        19;Quận 2;Phường Thạnh Mỹ Lợi
                        20;Quận 2;Phường Thảo Điền
                        21;Quận 2;Phường Thủ Thiêm
                        22;Quận 3;Phường 1
                        23;Quận 3;Phường 2
                        24;Quận 3;Phường 3
                        25;Quận 3;Phường 4
                        26;Quận 3;Phường 5
                        27;Quận 3;Phường 6
                        28;Quận 3;Phường 7
                        29;Quận 3;Phường 8
                        30;Quận 3;Phường 9
                        31;Quận 3;Phường 10
                        32;Quận 3;Phường 11
                        33;Quận 3;Phường 12
                        34;Quận 3;Phường 13
                        35;Quận 3;Phường 14
                        36;Quận 4;Phường 1
                        37;Quận 4;Phường 2
                        38;Quận 4;Phường 3
                        39;Quận 4;Phường 4
                        40;Quận 4;Phường 5
                        41;Quận 4;Phường 6
                        42;Quận 4;Phường 8
                        43;Quận 4;Phường 9
                        44;Quận 4;Phường 10
                        45;Quận 4;Phường 12
                        46;Quận 4;Phường 13
                        47;Quận 4;Phường 14
                        48;Quận 4;Phường 15
                        49;Quận 4;Phường 16
                        50;Quận 4;Phường 18
                        51;Quận 5;Phường 1
                        52;Quận 5;Phường 2
                        53;Quận 5;Phường 3
                        54;Quận 5;Phường 4
                        55;Quận 5;Phường 5
                        56;Quận 5;Phường 6
                        57;Quận 5;Phường 7
                        58;Quận 5;Phường 8
                        59;Quận 5;Phường 9
                        60;Quận 5;Phường 10
                        61;Quận 5;Phường 11
                        62;Quận 5;Phường 12
                        63;Quận 5;Phường 13
                        64;Quận 5;Phường 14
                        65;Quận 5;Phường 15
                        66;Quận 6;Phường 1
                        67;Quận 6;Phường 2
                        68;Quận 6;Phường 3
                        69;Quận 6;Phường 4
                        70;Quận 6;Phường 5
                        71;Quận 6;Phường 6
                        72;Quận 6;Phường 7
                        73;Quận 6;Phường 8
                        74;Quận 6;Phường 9
                        75;Quận 6;Phường 10
                        76;Quận 6;Phường 11
                        77;Quận 6;Phường 12
                        78;Quận 6;Phường 13
                        79;Quận 6;Phường 14
                        80;Quận 7;Phường Bình Thuận
                        81;Quận 7;Phường Phú Mỹ
                        82;Quận 7;Phường Phú Thuận
                        83;Quận 7;Phường Tân Hưng
                        84;Quận 7;Phường Tân Kiểng
                        85;Quận 7;Phường Tân Phong
                        86;Quận 7;Phường Tân Phú
                        87;Quận 7;Phường Tân Quy
                        88;Quận 7;Phường Tân Thuận Đông
                        89;Quận 7;Phường Tân Thuận Tây
                        90;Quận 8;Phường 1
                        91;Quận 8;Phường 2
                        92;Quận 8;Phường 3
                        93;Quận 8;Phường 4
                        94;Quận 8;Phường 5
                        95;Quận 8;Phường 6
                        96;Quận 8;Phường 7
                        97;Quận 8;Phường 8
                        98;Quận 8;Phường 9
                        99;Quận 8;Phường 10
                        100;Quận 8;Phường 11
                        101;Quận 8;Phường 12
                        102;Quận 8;Phường 13
                        103;Quận 8;Phường 14
                        104;Quận 8;Phường 15
                        105;Quận 8;Phường 16
                        106;Quận 9;Phường Hiệp Phú
                        107;Quận 9;Phường Long Bình
                        108;Quận 9;Phường Long Phước
                        109;Quận 9;Phường Long Thạnh Mỹ
                        110;Quận 9;Phường Long Trường
                        111;Quận 9;Phường Phú Hữu
                        112;Quận 9;Phường Phước Bình
                        113;Quận 9;Phường Phước Long A
                        114;Quận 9;Phường Phước Long B
                        115;Quận 9;Phường Tân Phú
                        116;Quận 9;Phường Tăng Nhơn Phú A
                        117;Quận 9;Phường Tăng Nhơn Phú B
                        118;Quận 9;Phường Trường Thạnh
                        119;Quận 10;Phường 1
                        120;Quận 10;Phường 2
                        121;Quận 10;Phường 3
                        122;Quận 10;Phường 4
                        123;Quận 10;Phường 5
                        124;Quận 10;Phường 6
                        125;Quận 10;Phường 7
                        126;Quận 10;Phường 8
                        127;Quận 10;Phường 9
                        128;Quận 10;Phường 10
                        129;Quận 10;Phường 11
                        130;Quận 10;Phường 12
                        131;Quận 10;Phường 13
                        132;Quận 10;Phường 14
                        133;Quận 10;Phường 15
                        134;Quận 11;Phường 1
                        135;Quận 11;Phường 2
                        136;Quận 11;Phường 3
                        137;Quận 11;Phường 4
                        138;Quận 11;Phường 5
                        139;Quận 11;Phường 6
                        140;Quận 11;Phường 7
                        141;Quận 11;Phường 8
                        142;Quận 11;Phường 9
                        143;Quận 11;Phường 10
                        144;Quận 11;Phường 11
                        145;Quận 11;Phường 12
                        146;Quận 11;Phường 13
                        147;Quận 11;Phường 14
                        148;Quận 11;Phường 15
                        149;Quận 11;Phường 16
                        150;Quận 12;Phường An Phú Đông
                        151;Quận 12;Phường Đông Hưng Thuận
                        152;Quận 12;Phường Hiệp Thành
                        153;Quận 12;Phường Tân Chánh Hiệp
                        154;Quận 12;Phường Tân Hưng Thuận
                        155;Quận 12;Phường Tân Thới Hiệp
                        156;Quận 12;Phường Tân Thới Nhất
                        157;Quận 12;Phường Thạnh Lộc
                        158;Quận 12;Phường Thạnh Xuân
                        159;Quận 12;Phường Thới An
                        160;Quận 12;Phường Trung Mỹ Tây
                        161;Quận Bình Tân;Phường An Lạc
                        162;Quận Bình Tân;Phường An Lạc A
                        163;Quận Bình Tân;Phường Bình Hưng Hòa
                        164;Quận Bình Tân;Phường Bình Hưng Hoà A
                        165;Quận Bình Tân;Phường Bình Hưng Hoà B
                        166;Quận Bình Tân;Phường Bình Trị Đông
                        167;Quận Bình Tân;Phường Bình Trị Đông A
                        168;Quận Bình Tân;Phường Bình Trị Đông B
                        169;Quận Bình Tân;Phường Tân Tạo
                        170;Quận Bình Tân;Phường Tân Tạo A
                        171;Quận Bình Thạnh;Phường 1
                        172;Quận Bình Thạnh;Phường 2
                        173;Quận Bình Thạnh;Phường 3
                        174;Quận Bình Thạnh;Phường 5
                        175;Quận Bình Thạnh;Phường 6
                        176;Quận Bình Thạnh;Phường 7
                        177;Quận Bình Thạnh;Phường 11
                        178;Quận Bình Thạnh;Phường 12
                        179;Quận Bình Thạnh;Phường 13
                        180;Quận Bình Thạnh;Phường 14
                        181;Quận Bình Thạnh;Phường 15
                        182;Quận Bình Thạnh;Phường 17
                        183;Quận Bình Thạnh;Phường 19
                        184;Quận Bình Thạnh;Phường 21
                        185;Quận Bình Thạnh;Phường 22
                        186;Quận Bình Thạnh;Phường 24
                        187;Quận Bình Thạnh;Phường 25
                        188;Quận Bình Thạnh;Phường 26
                        189;Quận Bình Thạnh;Phường 27
                        190;Quận Bình Thạnh;Phường 28
                        191;Quận Gò Vấp;Phường 1
                        192;Quận Gò Vấp;Phường 3
                        193;Quận Gò Vấp;Phường 4
                        194;Quận Gò Vấp;Phường 5
                        195;Quận Gò Vấp;Phường 6
                        196;Quận Gò Vấp;Phường 7
                        197;Quận Gò Vấp;Phường 8
                        198;Quận Gò Vấp;Phường 9
                        199;Quận Gò Vấp;Phường 10
                        200;Quận Gò Vấp;Phường 11
                        201;Quận Gò Vấp;Phường 12
                        202;Quận Gò Vấp;Phường 13
                        203;Quận Gò Vấp;Phường 14
                        204;Quận Gò Vấp;Phường 15
                        205;Quận Gò Vấp;Phường 16
                        206;Quận Gò Vấp;Phường 17
                        207;Quận Phú Nhuận;Phường 1
                        208;Quận Phú Nhuận;Phường 2
                        209;Quận Phú Nhuận;Phường 3
                        210;Quận Phú Nhuận;Phường 4
                        211;Quận Phú Nhuận;Phường 5
                        212;Quận Phú Nhuận;Phường 7
                        213;Quận Phú Nhuận;Phường 8
                        214;Quận Phú Nhuận;Phường 9
                        215;Quận Phú Nhuận;Phường 10
                        216;Quận Phú Nhuận;Phường 11
                        217;Quận Phú Nhuận;Phường 12
                        218;Quận Phú Nhuận;Phường 13
                        219;Quận Phú Nhuận;Phường 14
                        220;Quận Phú Nhuận;Phường 15
                        221;Quận Phú Nhuận;Phường 17
                        222;Quận Tân Bình;Phường 1
                        223;Quận Tân Bình;Phường 2
                        224;Quận Tân Bình;Phường 3
                        225;Quận Tân Bình;Phường 4
                        226;Quận Tân Bình;Phường 5
                        227;Quận Tân Bình;Phường 6
                        228;Quận Tân Bình;Phường 7
                        229;Quận Tân Bình;Phường 8
                        230;Quận Tân Bình;Phường 9
                        231;Quận Tân Bình;Phường 10
                        232;Quận Tân Bình;Phường 11
                        233;Quận Tân Bình;Phường 12
                        234;Quận Tân Bình;Phường 13
                        235;Quận Tân Bình;Phường 14
                        236;Quận Tân Bình;Phường 15
                        237;Quận Tân Phú;Phường Hiệp Tân
                        238;Quận Tân Phú;Phường Hoà Thạnh
                        239;Quận Tân Phú;Phường Phú Thạnh
                        240;Quận Tân Phú;Phường Phú Thọ Hoà
                        241;Quận Tân Phú;Phường Phú Trung
                        242;Quận Tân Phú;Phường Sơn Kỳ
                        243;Quận Tân Phú;Phường Tân Qúy
                        244;Quận Tân Phú;Phường Tân Sơn Nhì
                        245;Quận Tân Phú;Phường Tân Thành
                        246;Quận Tân Phú;Phường Tân Thới Hoà
                        247;Quận Tân Phú;Phường Tây Thạnh
                        248;Quận Thủ Đức;Phường Bình Chiểu
                        249;Quận Thủ Đức;Phường Bình Thọ
                        250;Quận Thủ Đức;Phường Hiệp Bình Chánh
                        251;Quận Thủ Đức;Phường Hiệp Bình Phước
                        252;Quận Thủ Đức;Phường Linh Chiểu
                        253;Quận Thủ Đức;Phường Linh Đông
                        254;Quận Thủ Đức;Phường Linh Tây
                        255;Quận Thủ Đức;Phường Linh Trung
                        256;Quận Thủ Đức;Phường Linh Xuân
                        257;Quận Thủ Đức;Phường Tam Bình
                        258;Quận Thủ Đức;Phường Tam Phú
                        259;Quận Thủ Đức;Phường Trường Thọ
                        260;Huyện Bình Chánh;Thị trấn Tân Túc
                        261;Huyện Bình Chánh;Xã An Phú Tây
                        262;Huyện Bình Chánh;Xã Bình Chánh
                        263;Huyện Bình Chánh;Xã Bình Hưng
                        264;Huyện Bình Chánh;Xã Bình Lợi
                        265;Huyện Bình Chánh;Xã Đa Phước
                        266;Huyện Bình Chánh;Xã Hưng Long
                        267;Huyện Bình Chánh;Xã Lê Minh Xuân
                        268;Huyện Bình Chánh;Xã Phạm Văn Hai
                        269;Huyện Bình Chánh;Xã Phong Phú
                        270;Huyện Bình Chánh;Xã Quy Đức
                        271;Huyện Bình Chánh;Xã Tân Kiên
                        272;Huyện Bình Chánh;Xã Tân Nhựt
                        273;Huyện Bình Chánh;Xã Tân Quý Tây
                        274;Huyện Bình Chánh;Xã Vĩnh Lộc A
                        275;Huyện Bình Chánh;Xã Vĩnh Lộc B
                        276;Huyện Cần Giờ;Thị trấn Cần Thạnh
                        277;Huyện Cần Giờ;Xã An Thới Đông
                        278;Huyện Cần Giờ;Xã Bình Khánh
                        279;Huyện Cần Giờ;Xã Long Hòa
                        280;Huyện Cần Giờ;Xã Lý Nhơn
                        281;Huyện Cần Giờ;Xã Tam Thôn Hiệp
                        282;Huyện Cần Giờ;Xã Thạnh An
                        283;Huyện Củ Chi;Thị trấn Củ Chi
                        284;Huyện Củ Chi;Xã An Nhơn Tây
                        285;Huyện Củ Chi;Xã An Phú
                        286;Huyện Củ Chi;Xã Bình Mỹ
                        287;Huyện Củ Chi;Xã Hòa Phú
                        288;Huyện Củ Chi;Xã Nhuận Đức
                        289;Huyện Củ Chi;Xã Phạm Văn Cội
                        290;Huyện Củ Chi;Xã Phú Hòa Đông
                        291;Huyện Củ Chi;Xã Phú Mỹ Hưng
                        292;Huyện Củ Chi;Xã Phước Hiệp
                        293;Huyện Củ Chi;Xã Phước Thạnh
                        294;Huyện Củ Chi;Xã Phước Vĩnh An
                        295;Huyện Củ Chi;Xã Tân An Hội
                        296;Huyện Củ Chi;Xã Tân Phú Trung
                        297;Huyện Củ Chi;Xã Tân Thạnh Đông
                        298;Huyện Củ Chi;Xã Tân Thạnh Tây
                        299;Huyện Củ Chi;Xã Tân Thông Hội
                        300;Huyện Củ Chi;Xã Thái Mỹ
                        301;Huyện Củ Chi;Xã Trung An
                        302;Huyện Củ Chi;Xã Trung Lập Hạ
                        303;Huyện Củ Chi;Xã Trung Lập Thượng
                        304;Huyện Hóc Môn;Thị trấn Hóc Môn
                        305;Huyện Hóc Môn;Xã Bà Điểm
                        306;Huyện Hóc Môn;Xã Đông Thạnh
                        307;Huyện Hóc Môn;Xã Nhị Bình
                        308;Huyện Hóc Môn;Xã Tân Hiệp
                        309;Huyện Hóc Môn;Xã Tân Thới Nhì
                        310;Huyện Hóc Môn;Xã Tân Xuân
                        311;Huyện Hóc Môn;Xã Thới Tam Thôn
                        312;Huyện Hóc Môn;Xã Trung Chánh
                        313;Huyện Hóc Môn;Xã Xuân Thới Đông
                        314;Huyện Hóc Môn;Xã Xuân Thới Sơn
                        315;Huyện Hóc Môn;Xã Xuân Thới Thượng
                        316;Huyện Nhà Bè;Thị trấn Nhà Bè
                        317;Huyện Nhà Bè;Xã Hiệp Phước
                        318;Huyện Nhà Bè;Xã Long Thới
                        319;Huyện Nhà Bè;Xã Nhơn Đức
                        320;Huyện Nhà Bè;Xã Phú Xuân
                        321;Huyện Nhà Bè;Xã Phước Kiển
                        322;Huyện Nhà Bè;Xã Phước Lộc
                        " />
  </appSettings>
</configuration>
